<div class="container mt-3">

  <h3 class="text-center">URL Shortener</h3>

  <div class="link-img mx-auto">
    <img src="https://www.flaticon.com/svg/static/icons/svg/282/282131.svg" class="d-block">
  </div>

  <form action="/urls" method="POST">
    <div class="form-group">
      <label for="original-url-input">Please enter the url you want to shorten</label>
      <textarea type="text" id="original-url-input" name="originalUrl" class="form-control" rows="2"
        required>{{originalUrl}}</textarea>
      <button type="submit" class="btn btn-primary mt-1" id="submit-url">Shorten</button>
    </div>
  </form>

  {{#if shortenUrl}}
  <div>
    <label for="shorten-url-output">Shorten Url</label>
    <div class="input-group">
      <input class="form-control" id="shorten-url-output" value="{{shortenUrl}}" readonly>
      <div class="input-group-append">
        <button class="btn btn-primary" id="copy-btn">copy</button>
      </div>
    </div>

    <div class="input-group mt-1">
      <div class="form-control">
        <a href="{{shortenUrl}}" target="_blank">{{shortenUrl}}</a>
      </div>
    </div>

  </div>
  {{/if}}

  <div class="attribute mt-5">
    Icons made by
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
    from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>

</div>